@inherits LayoutComponentBase
<link rel="stylesheet" href="css/fontawesome-free-6.5.1-web/css/all.css" />
<script src="css/fontawesome-free-6.5.1-web/js/all.min.js"></script>
<div class="page">
    <main>
        <div class="top-row px-4">
            <div class="">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="">
                <NavLink class="nav-link" href="produtos/0" Match="NavLinkMatch.All">
                    <span class="fa-solid fa-shop" aria-hidden="true"></span> Produtos
                </NavLink>
            </div>
            <div class="">
                <NavLink class="nav-link" href="login/" Match="NavLinkMatch.All">
                    <span class="fa-solid fa-user" aria-hidden="true"></span> Login
                </NavLink>
            </div>
        </div>      
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
