.container-nav {
    display: block;
    background-color: #ebebeb;
    border-radius: 18px;
    width: 58%;
    margin: 15px;
}
.nav-menu {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}
.btnList-nav-menu{
   border:none;
   border-style:none;
   background:none;
   color:#0d6efd83;

}
.menunav-items{
    display:flex;
    min-width: 50%;
}
