@inject NavigationManager NavigationManager

<a class="nav-link" title="@CategoriaDto.Nome" href="@("/produtos/" + CategoriaDto.Id)">
        <span @onclick="(() => NavegarParaProdutos(CategoriaDto.Id))" class="@CategoriaDto.IconCSS" aria-hidden="true"></span>
        <span class="categoriaNome">@FormatName</span>
</a>


@code {
    [Parameter]
    public CategoriaDto CategoriaDto { get; set; }
    public string FormatName { get;set; }
    void NavegarParaProdutos(int categoriaId)
    {
        NavigationManager.NavigateTo($"/produtos/{categoriaId}");
    }

    protected override async Task OnInitializedAsync()
    {
        if (CategoriaDto.Nome?.Length >= 13 && CategoriaDto.Id > 0)
        {
            FormatName = $"{CategoriaDto.Nome.Substring(0, 10)}...";
        }
        else
        {
            FormatName = CategoriaDto.Nome;
        }
    }
    protected override async void OnParametersSet()
    {
        if (CategoriaDto.Nome?.Length >= 13 && CategoriaDto.Id > 0)
        {
            FormatName = $"{CategoriaDto.Nome.Substring(0, 10)}...";
        }
        else
        {
            FormatName = CategoriaDto.Nome;
        }
        StateHasChanged();
    }
}
